@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Jost";
  line-height: 1.6;
  font-weight: 400;
  background-color: #f2efe9;
  color: #333331;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333331;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-circle {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.3125rem solid #deb351;
  border-top-color: transparent;
  border-radius: 50%;
}

.loading-screen h1 {
  color: #deb351;
  margin-top: 1.25rem;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.golden-background {
  color: #111;
}

h1 {
  color: #111;
  font-family: "Inria Serif";
  font-size: 1.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.0265rem;
}

p {
  font-size: 1.125rem;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  mix-blend-mode: darken;
}

.hamburger {
  height: 2.188rem;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(242, 239, 233);
  padding: 1.2rem;
  z-index: 3;
}

header nav {
  display: none;
}

.paper-overlay {
  z-index: -1;
  opacity: 0.25;
  background-color: #fff;
  background-image: url(/src/assets/overlay.avif);
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 15.625rem 15.625rem;
  position: fixed;
  inset: 0%;
}

.margin {
  margin: 1.375rem;
}

.paper-edge {
  position: absolute;
  top: -3%;
  left: 0;
  width: 100%;
  z-index: -3;
  transform: scaleX(-1);
}

.bottom {
  bottom: -3%;
}

.higher {
  top: -2%;
}

.footer {
  position: relative;
}

.background {
  position: absolute;
  inset: 0%;
  width: 100%;
  z-index: -2;
  background-color: #fff;
}

.reverse {
  transform: scaleY(-1);
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-wrapper {
  display: flex;
  overflow: hidden;
}

.timeline {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: max-content;
}

.timeline-item {
  height: fit-content;
}

.date {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 150%;
}

.header {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 160%;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  width: 17.375rem;
}

.counter-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter h2 {
  font-size: 5rem;
  margin: 0;
  color: #111;
  font-weight: 200;
  line-height: 135%;
}

.counter p {
  color: #111;
  text-align: center;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  margin: -0.5rem;
}

.books-container,
.map-container,
.footer,
.printing-container {
  margin-top: 4rem;
}

button {
  width: 100%;
  max-width: 26.563rem;
  height: 3rem;
  padding: 0.625rem;
  background-color: #333331;
  border: none;
  color: #f2efe9;
  font-family: "Jost";
  font-size: 1.2rem;
  font-weight: 300;
}

button:hover {
  background-color: #deb351;
  color: #333331;
  cursor: pointer;
}

a {
  color: #f2efe9;
  font-family: "Jost";
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(242, 239, 233);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-nav li {
  margin: 2rem 0;
}

.menu-nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333331;
  transition: color 0.3s;
}

.menu-nav a:hover {
  color: #f39c12;
}

.menu-overlay.open {
  display: flex;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.country {
  fill: rgba(200, 200, 200, 0.2);
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5008px;
  transition: fill 1s;
}

.golden {
  fill: #f39c12 !important;
}

.available {
  fill: white;
}

.available:hover {
  fill: black;
}

.button-link {
  background-color: #333331;
  padding: 0.8rem 2rem;
  border: none;
  color: #f2efe9;
}

.hero-container img {
  transform: scaleX(-1);
}

.hero-container img {
  max-width: 25rem;
  width: 100%;
}

.museum-image {
  margin-top: 2rem;
  max-width: 18.75rem;
}

.hero-container,
.printing-container,
.books-container,
.footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-books-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #f2efe9;
  align-items: center;
  flex-direction: column;
}

.mobile-carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.carousel-frame {
  position: absolute;
  width: 14.75rem;
  z-index: 2;
}

.mobile-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mobile-carousel img {
  max-height: 18.75rem;
}

.carousel-image {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.carousel-image.visible {
  opacity: 1;
  visibility: visible;
}

.carousel-image.hidden {
  opacity: 0;
  visibility: hidden;
}

.carousel-buttons {
  display: flex;
  gap: 2rem;
}

.carousel-btn {
  border: none;
  padding: 0.625rem;
  cursor: pointer;
  font-size: 1.125rem;
  width: 12.5rem;
}

.mobile-progress-indicator {
  margin-top: 0.625rem;
  text-align: center;
}

.mobile-progress-indicator .dot {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.313rem;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-progress-indicator .dot.active {
  background: #f39c12;
}

.mobile-book-info {
  color: #333331;
  margin: 1rem;
}

.books-overlay {
  display: none;
}

.mobile-closing-button,
.closing-button {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10%;
  z-index: 2;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  max-width: 20rem;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) -5px 5px 15px;
}

.shadow-side {
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 15px;
}

.printing-animation-container,
.book-animation-container,
.footer-container {
  position: relative;
  margin: 2.5rem 0;
}

.book-animation {
  max-width: 34.375rem;
}

.printing-animation {
  max-width: 21.875rem;
}

.frame-side {
  display: none;
}

.animation {
  opacity: 0;
  transform: translateY(50px);
}

@media (min-width: 834px) {
  .right h1 {
    max-width: 37.5rem;
  }
  .hero-container div {
    max-width: 29.0625rem;
  }
  .museum-image {
    max-width: 25rem;
    margin-right: 2rem;
  }
  .printing-container-text {
    max-width: 25rem;
  }

  .book-animation {
    min-width: 25rem;
  }

  .frame-side {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    min-width: 31.25rem;
    transform: translate(-50%, -50%) rotate(90deg) scaleY(-1);
  }

  .wider-frame {
    max-width: 28.125rem;
    transform: translate(-50%, -50%) rotate(90deg) scaleY(-1);
  }

  .not-rotated {
    transform: translate(-50%, -50%);
  }

  .hamburger {
    display: none;
  }

  .paper-edge {
    top: -2%;
  }

  .bottom {
    bottom: -2%;
  }

  .higher {
    top: -10%;
  }

  header nav {
    display: flex;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    margin: 0 0.9375rem;
  }

  nav a {
    color: #333331;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }

  .hero-container img {
    min-width: 18.75rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .left div p {
    min-width: 0px;
  }

  .left {
    height: fit-content;
  }

  .left img {
    max-width: 30.9375rem;
  }

  .timeline-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    width: 100%;
  }

  .timeline-item {
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .timeline-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: normal;
  }

  .timeline {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  .printing-container,
  .books-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .books-container-info {
    max-width: 37.5rem;
  }

  .footer-info {
    max-width: 37.5rem;
  }

  .counter-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin: 8rem 0;
  }

  .map-container h1,
  .map-container p {
    max-width: 36.875rem;
  }

  .footer {
    flex-direction: row-reverse;
  }

  .books-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2efe9;
    display: none;
    align-items: center;
    z-index: 1000;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .items-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    gap: 3rem;
    padding: 0;
    max-width: 18.75rem;
  }

  .items-list li {
    cursor: pointer;
    margin-bottom: 0.625rem;
    transition: color 0.3s;
    color: #333331;
    font-family: "Inria Serif";
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 135%;
  }

  .items-list li:hover {
    color: #ffd700;
  }

  .carousel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-images {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .carousel-image {
    display: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .carousel-image.active {
    display: block;
  }

  #svg-container {
    position: relative;
  }

  #info-box,
  .book-info {
    position: absolute;
    right: 0;
    top: 40%;
    max-width: 18.75rem;
    background-color: #333331e4;
    color: #f2efe9;
    padding: 2rem;
    border-radius: 0.3125rem;
  }

  .book-info {
    top: 35%;
  }

  #info-box h1 {
    color: #f2efe9;
  }

  .card-container {
    position: absolute;
    top: 50%;
    transform: translate(22%, -50%);
  }

  .cards-frame {
    position: relative;
  }

  .cards-frame img {
    max-height: 34.375rem;
  }

  .card {
    width: 18.75rem;
    height: 28.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 156.25rem;
    border-radius: 1.875rem;
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: #000;
    border-radius: 0.3125rem;
  }
  .wrapper img {
    border-radius: 0.3125rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .card:hover .wrapper {
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }

  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 5rem;
    transition: all 0.5s;
    border-radius: 5px;
    position: absolute;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      □ rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      Orgba(12, 13, 19, 0.5) 68%,
      ☐ rgba(12, 13, 19) 97%
    );
  }

  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      ☐ rgba(12, 13, 19, 0.5) 68%,
      ☐ rgba(12, 13, 19) 97%
    );
  }

  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }

  .card:hover .cover-image {
    opacity: 0.3;
  }

  .main-image {
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow (2px 2px 2px #000);
    position: absolute;
    z-index: -1;
    border-radius: 0.3125rem;
  }

  .card:hover .main-image {
    opacity: 1;
    transform: translate3d(5%, -5%, 700px);
  }

  .card {
    display: none;
  }

  .card.visible {
    display: block;
  }

  .books-overlay {
    justify-content: normal;
  }

  .visible {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .shadow {
    box-shadow: rgba(0, 0, 0, 0.25) -10px 10px 20px;
  }

  .shadow-side {
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 20px;
  }

  .items-list ul {
    max-width: fit-content;
  }
  .items-list {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .printing-container-text {
    max-width: 33.125rem;
  }

  .printing-animation {
    min-width: 21.875rem;
  }

  .book-animation {
    max-width: 28.125rem;
  }

  .frame-side {
    max-width: 31.25rem;
  }

  .margin {
    margin: 4rem 5rem;
  }

  .paper-edge {
    top: -4%;
  }

  .bottom {
    bottom: -4%;
  }

  .higher {
    top: -9%;
  }

  header {
    padding: 1.2rem 5rem;
  }
  ul {
    align-items: center;
  }
  ul button {
    min-width: 10rem;
  }

  .hero-container div {
    max-width: 29.0625rem;
  }

  .hero-container {
    margin-top: 2rem;
    gap: 9.375rem;
    align-items: center;
  }

  h1 {
    font-size: 2.4rem;
  }

  .hero-container img {
    max-width: 25rem;
  }

  .text {
    width: 21.875rem;
  }

  .timeline-item {
    display: flex;
    gap: 1.875rem;
  }

  .timeline-container {
    gap: 3.75rem;
  }

  .timeline-container h1 {
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  .left img {
    max-width: 30.9375rem;
  }

  h2 {
    margin-top: 0.5rem;
  }

  .date {
    max-width: 5.3125rem;
  }

  .printing-container {
    align-items: center;
    gap: 5rem;
  }

  .printing-container h1 {
    max-width: 33.125rem;
  }

  .printing-container p,
  .books-container p {
    max-width: 31.25rem;
  }

  .printing-container img {
    max-height: 36.875rem;
  }
  .counter-container {
    flex-wrap: nowrap;
    gap: 18rem;
  }

  .books-container h1 {
    max-width: 36.75rem;
  }
  button {
    max-width: 19.6875rem;
  }

  .books-container {
    gap: 2rem;
  }

  .map-container h1 {
    max-width: 45.9375rem;
  }
  .map-container p {
    max-width: 38.75rem;
  }

  .footer {
    gap: 3.75rem;
  }

  .footer h1,
  .footer p {
    max-width: 30.125rem;
  }

  .left div h2 {
    font-family: "Inria Serif";
    font-size: 3.125rem;
    font-weight: bold;
  }

  .left div p {
    font-family: "Inria Serif";
    font-size: 1.25rem;
    font-weight: bold;
  }

  .museum-image {
    max-width: 31.25rem;
  }

  .content {
    gap: 5rem;
  }

  #info-box {
    max-width: 25rem;
  }

  .books-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .counter-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }
}
